.carrousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carrousel-item__details {
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
}
.carrousel-item__details:hover {
    opacity: 1;
}

.carrousel-item__details img {
    width: 20px;
}

.carrousel-item__details p, .carrousel-item__details img {
    position: relative;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
}